{% extends "base.html.twig" %}

{% block body %}
    <section class="s-content">
        <div class="container">
            <div class="flex-row justify-content-center">
                <div class="col-md-8 box">
                    <h2 class="mb-5 text-center">{% trans %}login{% endtrans %}</h2>
                    <form class="form-horizontal" action="{{ path('login') }}" method="post">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="username" class="required">{% trans %}username{% endtrans %}</label>
                                <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="password" class="required">{% trans %}label.password{% endtrans %}</label>
                                <input class="form-control" type="password" id="password" name="_password">
                                <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                                {% if error %}
                                <div class="alert alert-danger">
                                    {{ error.messageKey|trans(error.messageData, 'security') }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-default">{% trans %}login{% endtrans %}</button>
                                <a class="btn btn-default" href="#" > {% trans %} Forgot_Password {% endtrans %}</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
