{% extends 'base.html.twig' %}

{% block body_id 'top' %}

        {% block body %}

            <section class="s-content">

                <div class="row masonry-wrap">
                    <div class="masonry">

                        <div class="grid-sizer"></div>

                        {% for post in posts %}
                            <article class="masonry__brick entry format-standard" data-aos="fade-up">

                                <div class="entry__thumb">
                                    <a href="/{{ post.author.username }}/post/{{ post.slug }}" class="entry__thumb-link">
                                        <img src="{{ asset('/uploads/users_photos/' ~ post.getImage()) }}" alt="">
                                    </a>
                                </div>

                                <div class="entry__text">
                                    <div class="entry__header">

                                        <div class="entry__date">
                                            <a href="#">{{ post.publishedAt|date('M d, Y') }}</a>
                                            <a href="{{ path('user_profile', {'username': post.author.username}) }}">{{ post.author.username }}</a>

                                            <a href="{{ path('author_post_edit', {'username': app.user.username, 'id': post.id} ) }}">
                                                <i class="fa fa-edit" aria-hidden="true"></i>
                                            </a>
                                            <a href="{{ path('author_post_delete', {'username': app.user.username, 'id': post.id} ) }}">
                                                <i class="fa fa-close" aria-hidden="true"></i>
                                            </a>

                                        </div>
                                        <h1 class="entry__title"><a href="/{{ post.author.username }}/post/{{ post.slug }}">{{ post.title }}</a></h1>

                                    </div>
                                    <div class="entry__excerpt">
                                        <p>
                                            {{ post.summary }}  </p>
                                    </div>
                                    <div class="entry__meta">
                                    <span class="entry__meta-links">
                                         {{ include('blog/_post_tags.html.twig') }}
                                    </span>
                                    </div>
                                </div>

                            </article>
                        {% else %}
                            <div class="well">{{ 'post.no_posts_found'|trans }}</div>
                        {% endfor %}

                    </div>
                </div>



            </section>

        {% endblock %}